extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae metus et orci venenatis commodo quis sit amet enim. 
                p Vestibulum vel scelerisque enim. Integer commodo odio sed aliquet euismod. Phasellus sodales posuere justo nec tristique. Proin ultricies ex porttitor maximus viverra. Curabitur luctus pharetra ligula, non commodo mauris scelerisque in. Sed feugiat ornare ex ac laoreet. Proin facilisis massa in massa bibendum, a tempus sapien laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ut sagittis sapien. Vestibulum a erat quis mi molestie posuere eu a magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p Nunc nec dolor non urna tempor laoreet. Aenean ante dui, commodo sed euismod posuere, eleifend ut elit. Curabitur condimentum at nibh ac elementum. Mauris feugiat gravida dui, in tincidunt ipsum. Ut bibendum sapien et lobortis tristique. Cras suscipit, libero eget mollis vehicula, nunc felis finibus augue, quis viverra orci odio quis urna. Cras varius, odio eu luctus mattis, risus elit faucibus elit, a euismod tellus lectus consectetur turpis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb4 Seguridad
                    p Nunc nec dolor non urna tempor laoreet. Aenean ante dui, commodo sed euismod posuere, eleifend ut elit. Curabitur condimentum at nibh ac elementum. Mauris feugiat gravida dui, in tincidunt ipsum

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb4 Mejores Destinos
                    p Nunc nec dolor non urna tempor laoreet. Aenean ante dui, commodo sed euismod posuere, eleifend ut elit. Curabitur condimentum at nibh ac elementum. Mauris feugiat gravida dui, in tincidunt ipsum
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb4 Los Mejores Precios 
                    p Nunc nec dolor non urna tempor laoreet. Aenean ante dui, commodo sed euismod posuere, eleifend ut elit. Curabitur condimentum at nibh ac elementum. Mauris feugiat gravida dui, in tincidunt ipsum
                    